.navbar{
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
    width: 100%;
}
& > *{
    align-self: center;
}
.navbar-left{
    color:#6c757d;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    justify-content: flex-start;
}
.navbar-middle{
    color:#007bff;
    cursor: pointer;
    font-size:40px;
    font-weight: 900;
    text-transform: uppercase;
}