.navbar{
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    width: 100%;
    top: 0px;
    margin:0 auto;
}
& > *{
    align-self: center;
}
.navbar-left{
    color:#6c757d;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    float: left;
}
.navbar-middle{
    color:#007bff;
    cursor: pointer;
    font-size:40px;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
}