footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightblue;
    text-align: center;
}
.github{
    color: #000000;
    font-size: 25px;
    margin-right: 20px;
}
.link a:link{
    color:blue;
    text-decoration: none;
     background-color: lightblue;
     font-size: 36px;
     font-weight: bold;
     justify-content: center;
     
}

