.todoListMain .header button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #FFF;
  border: 2px solid #0066ff;
}
.todoListMain .header button:hover{
  cursor: pointer;
  background-color: #003399;
  border: 2px solid #003399;
}
.todoListMain .header input{
padding: 10px;
font-size: 16px;
border: 2px solid #fff;
width: 165px;
outline: none;

}
.todoListMain .theList{
 list-style: none;
 padding-left: 0;
 width: 250px;
  }
  ul.theList{
    padding: 0;
  }
  .todoListMain .theList li{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,.5);
    color:#333;
    border-radius: 5px;
    list-style: none;
    transition:  backgground-color .2s ease-out;
    
    }
    .todoListMain .theList li:hover{
     background-color: pink;
     cursor: pointer;
      
      }
      .title{
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
      }
      
    
  