.todoListMain .header button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-top: 35px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #FFF;
  border: 2px solid #0066ff;
}
.todoListMain .header button:hover{
  cursor: pointer;
  background-color: #003399;
  border: 2px solid #003399;
}
form{
  outline: none;
  border: none;
}
.todoListMain .header input{
  margin-top: 30px;
padding: 10px;
font-size: 16px;
border: none;
width: 165px;
background: #fff;
outline: none;

transition: all .2s ease-in-out;
border-bottom: #fff;
    height:40px;
   text-align: center;
   text-transform: capitalize;
   border-top-style: hidden;
   border-left-style: hidden ;
   border-bottom-style: groove;
}
.no-outline:focus{
  outline: none;
}
.todoListMain .theList{
 list-style: none;
 padding-left: 0;
 width: 250px;
  }
  ul.theList{
    padding: 0;
  }
  .todoListMain .theList li{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #28a74520;
    color: #dc3545;
    border-radius: 5px;
    list-style: none;
    transition:  background-color .2s ease-out;
    text-transform: capitalize;
    
    }
    .todoListMain .theList li:hover{
     background-color: pink;
     cursor: pointer;
      
      }
      a{
        color: inherit;
        text-decoration: none;
      }
  .dark-mode{
    background: #161625 !important;
  color: #bdbdbd;
  transition: background-color .2s ease-out !important;
  .Navbar,expand{
    background: #1e1e30 !important;
  }
  input{      
   background: #161625 !important ;
   color:#fff !important;
   border-bottom-style: groove;
   outline: none;
   box-shadow: 0px 10px 35px #161625;
  }
  .todoListMain .theList li{
    background-color: #fff ;
    color: #28a745;
  }
 .todoListMain .theList li:hover{
   background-color: lightblue;
 }
 ::placeholder{
   color:#fff;
 }
 
  }
 
  